@import 'node_modules/carbon-components/scss/components/structured-list/_structured-list.scss';



.kiosk-list-name {
	width: 60%;
}

.kiosk-list-created {
	width: 10%;
}

.kiosk-list-pages {
	width: 10%;
}

.kiosk-list-actions {
	width: 20%;
}